[Desktop Entry]
Version=1.0
Type=Application
Name=Application Finder
Comment=Find and launch applications
Exec=xfce4-appfinder
Icon=xfce4-appfinder
Categories=System;Utility;
Terminal=false
StartupNotify=true
