[Desktop Entry]
Version=1.0
Type=Application
Name=Settings
Comment=Configure the desktop
Exec=xfce4-settings-manager
Icon=preferences-desktop
Categories=Settings;
Terminal=false
StartupNotify=true
